@font-face {
    font-family: 'AllerDisplay';
    src: url('fonts/allerdisplay-webfont.woff2') format('woff2'),
         url('fonts/allerdisplay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
}

.sr {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

img {
    max-width: 100%;
}

body {
	background: #542f19 url(images/wood.png) top center fixed;
  	color: #FFF;
  	font-family: Arial, sans-serif;
  	font-size: 18px;
  	line-height: 1;
  	text-align: center;
}

a, a:hover {
	color: #FFF;
	text-decoration: none;
}

.swiper {
	min-height: 100vh;
}

.brand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	min-height: Calc(90vh - 60px);
	padding: 30px 60px;
}

h2 {
	font-weight: normal;
	margin: 0;
	font-family: 'AllerDisplay', Arial, sans-serif;
	font-size: 54px;
}
h2 a {
	display: block;
}
h2 img {
	display: block;
	margin: 0 auto 10px;
}

p {
	line-height: 1.3;
}

.social {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.social li a {
	display: block;
	position: relative;
	min-height: 36px;
}
.social li a img {
	display: block;
	width: auto!important;
  	filter: brightness(0) invert(1);
}

.tooltiptext {
	opacity: 0;
  	transition: opacity 0.3s ease-in-out;
	background-color: #FFF;
	color: #542f19;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	width: 120px;
	top: 46px;
	left: 50%;
	margin-left: -60px;
	z-index: 10;
}
.tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #FFF transparent;
}
.social li a:hover .tooltiptext {
	opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
	color: #FFF;
}
.swiper-scrollbar {
	background: rgba(0,0,0,0.35);
}
.swiper-scrollbar-drag {
	background: #FFF;
}

@media (max-width: 686px) {
	h2 {
		font-size: 50px;
	}
	.social {
		max-width: 250px;
	}	
	.tooltiptext {
		display: none;
	}
}

@media (max-width: 486px) {
	h2 {
		font-size: 46px;
	}
	.break {
		display: block;
	}
}
